body{
    
	background-image: url(../img/digitization-5140071_1920.jpg);
	background-color: #c7b39b; 
	background-repeat: no-repeat;
	background-size: cover;  /* Фон занимает всю доступную площадь*/
    display: flex; 
    margin: 0;
    font-family: tahoma;
    text-align: justify;
}

.card {
    width: 640px;
    margin: 10px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 5px 5px 10px #ccc;
    border-radius: 30px;
}

.card-photo{
    display: block;
    width: 150px;
    height: 181px;
    margin: 0 auto;
    border-radius: 50%;
}

.card-title{
    font-size: 20px;
    text-align: center;
    color: #419c1b;
}

.card-title1{
    font-size: 16px;
    text-align: center;
    color: #419c1b;
}

.card-text{
    font-size: 14px;
}

.card-subtitle{
    font-size: 16px;
    color:#315fc7;
}

.card-list{
/*    padding-left: 0;*/
    list-style-position: inside;
    font-size: 14px;
}

.contacts-list{
    font-size: 14px;
    list-style-type: none;
}